# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
cython=0.24.1=py27_0
h5py=2.6.0=np111py27_2
hdf5=1.8.17=1
matplotlib
mkl=11.3.3=0
mock
numpy=1.11.2=py27_0
numpydoc
openssl=1.0.2j=0
pandas=0.19.1
pip
pytables
python=2.7.12=1
pytest
readline=6.2=2
scipy=0.18.1=np111py27_0
setuptools=27.2.0=py27_0
six=1.10.0=py27_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.29.0=py27_0
zlib=1.2.8=3
